

.transfer-history {

}

.transfer-history-container{
    width: max-content;
    border: 5px solid #000000;
    height: 300px;
    padding: 20px;

    overflow-y: scroll;

}

.received{
    color: greenyellow;
}

.taken{
    color: rgb(172, 72, 72)
}

.transfer-history-cell{
    padding: 7px;
    text-align: left;

    border-bottom: 1px solid #000000;
}

.transfer-value{

}